/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.page-header li {
  display: inline-block;
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EXPLANATION */

#explanation {
  background-color: rgb(180 208 231);
  width: 100%;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}

#explanation .container {
  max-width: 100%;
  position: relative;
  top: 50px;
}

.col-100 {
  width: 100%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.nav-list {
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

i {
  display: flex;
  padding-top: 220px;
}

/* PLAN */

#plan .container {
  margin-top: 200px;
  max-width: 800px;
}

h4 {
  display: flex;
  justify-content: center;
  border-style: groove;
  margin-bottom: 30px;
}

h3 {
  display: inline-block;
  margin-bottom: 20px;
}

#plan .card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

#plan .card-full {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.title-card {
  margin: 20px;
}

.price {
  margin-top: 10px;
  margin-left: 20px;
}

.month {
  margin-top: 5px;
  margin-left: 20px;
  color: grey;
}
.list-plan {
  margin-top: 40px;
  margin-left: 10px;
}

.btn-plan {
  margin-top: 40px;
  margin-left: 20px;
}

.border-box {
  border: 1px solid black;
}

.alternative {
  margin-top: 20px;
  margin-left: 20px;
}

.line-border {
  border: 1px inset grey;
  margin-top: 20px;
  margin-left: 20px;
  width: 50px;
}

.title-highlites {
  margin-top: 20px;
  margin-left: 20px;
}

.highlites {
  margin-top: 20px;
  margin-left: 10px;
  height: 300px;
}

.card-full {
  width: 100%;
}

.sales-office {
  margin-left: 18px;
}

.title-office {
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.paragraph {
  margin-top: 15px;
  width: 70%;
  margin-bottom: 20px;
}

.button-sales {
  margin-right: 20px;
}

#find-partner .container {
  margin-top: 200px;
  max-width: 800px;
}

.col-60 {
  width: 60%;
}
.col-40 {
  width: 40%;
}

.image {
  padding: 10px;
}

.title-partner-find {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 40px;
}

#utilities .container {
  margin-top: 200px;
  max-width: 800px;
}

.col-1-3 {
  width: calc(100% / 3);
}

#users .container {
  margin-top: 200px;
  max-width: 800px;
}

.link-users {
  margin-top: 40px;
  color: blue;
}

#page-footer .container-xl {
  width: 100%;
  background-color: black;
  margin-top: 100px;
}

.col-20 {
  width: 20%;
}

.title-dropbox {
  color: white;
  margin-top: 150px;
  margin-left: 20px;
}

.title-product {
  color: white;
  margin-top: 150px;
}

.info {
  color: rgb(159 169 166);
  margin-top: 20px;
}
